.editor-wrapper {
	width: 90%;
	height: 70%;
	left: 5%;
	top: 10%;
	position: relative;
}

.editor-textarea {
	width: 100%;
	height: 100%;
	resize: none;
	background-color: transparent;
	border: none;
}

.editor-textarea:focus {
	outline: none;
}