.flashcard-switcher-arrow-button {
	border: 0;
	background-color: transparent;
}

.flashcard-switcher-arrow-button:active {
	opacity: 0.8;
}

.flashcard-switcher-add-card-button {
	border: 0;
	background-color: transparent;
	font-size: 3rem;
	color: rgba(202, 202, 20, 0.959);
	margin: 2rem;
}

.flashcard-switcher-add-card-button:active {
	opacity: 0.8;
}

.flashcard-switcher-wrapper {
	display: column;
	grid-template-rows: 9fr 1fr;
	height: 70vh;
}

.flashcard-switcher-tool {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flashcard-switcher-count {
	display: flex;
	justify-content: flex-end;
}